<a href="https://colab.research.google.com/github/Teng095/class2022Spring/blob/main/20220321_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 2022-03-21 수업

“pandas.ipynb”---0321

## Importing libraries

In [ ]:
import pandas as pd

pd是pandas的简称

install/
import/
built-in/

## Loading csv file

In [ ]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

被称为“数据框架” 데이타 프레임

In [ ]:
print(df.size); print(df.ndim); print(df.shape)

153000
2
(17000, 9)

ndim ---> 维度？

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

## Saving to CSV

DataFrame 数据的保存和读取

https://blog.csdn.net/tz_zs/article/details/81137998（look）

In [ ]:
df.to_csv('california_housing_train.csv')

## Constructing a DataFrame using dict

In [ ]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

## Constructing a DataFrame using pd.Series

In [ ]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

## Changing column names

In [ ]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

## Accessing columns

In [ ]:
# Access one column 
df.loc[:, 'sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (short-hand)
df['sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (shortest-hand)
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [ ]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

## Accessing rows

In [ ]:
# Access one row 
df.loc[3, :]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [ ]:
# Access two rows
df.loc[[3, 0], :]

  sepal_length sepal_width petal_length petal_width     species
3          5.4         3.0          4.5         1.5  versicolor
0          6.9         3.2          5.7         2.3   virginica

In [ ]:
# Access a range of rows
df.loc[2:5, :]

  sepal_length sepal_width petal_length petal_width     species
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa

In [ ]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
3          5.4         3.0          4.5         1.5  versicolor

## Accessing a cell

In [ ]:
df.loc[:, 'sepal_length'][4]

4.6

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6

## Adding/Removing new columns

In [ ]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [ ]:
df = df.drop('new_column', axis=1) # axis=1: column
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

## Adding/Removing new rows

In [ ]:
df.loc[5, :] = ''
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

In [ ]:
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa

### 2022-03-23 수업

파이썬 requests with REST APIs

In [ ]:
requests_gradio.ipynb

API (应用编程接口）

Public data api // 

https://www.data.go.kr/tcs/dss/selectDataSetList.do?keyword=%EC%BD%94%EB%A1%9C%EB%82%98&brm=&svcType=&instt=&recmSe=N&conditionType=init&extsn=&kwrdArray=

developers.naver.com

developers.kakao.com

## requests_gradio.ipynb

requests_gradio.ipynb

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

Collecting gradio
  Downloading gradio-2.8.14-py3-none-any.whl (668 kB)
     |████████████████████████████████| 668 kB 5.1 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from gradio) (1.3.5)
Collecting analytics-python
  Downloading analytics_python-1.4.0-py2.py3-none-any.whl (15 kB)
Collecting orjson
  Downloading orjson-3.6.7-cp37-cp37m-manylinux_2_24_x86_64.whl (255 kB)
     |████████████████████████████████| 255 kB 46.6 MB/s
Collecting paramiko
  Downloading paramiko-2.10.3-py2.py3-none-any.whl (211 kB)
     |████████████████████████████████| 211 kB 54.8 MB/s
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from gradio) (7.1.2)
Collecting pycryptodome
  Downloading pycryptodome-3.14.1-cp35-abi3-manylinux2010_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 48.6 MB/s
Collecting pydub
  Downloading pydub-0.25.1-py2.py3-none-any.whl (32 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from gradio) (1.21.5)
Collecting aiohttp
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 67.8 MB/s
Collecting python-multipart
  Downloading python-multipart-0.0.5.tar.gz (32 kB)
Collecting markdown-it-py[linkify,plugins]
  Downloading markdown_it_py-2.0.1-py3-none-any.whl (84 kB)
     |████████████████████████████████| 84 kB 2.5 MB/s
Collecting uvicorn
  Downloading uvicorn-0.17.6-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.1 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from gradio) (3.2.2)
Collecting fastapi
  Downloading fastapi-0.75.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.2 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gradio) (2.23.0)
Collecting ffmpy
  Downloading ffmpy-0.3.0.tar.gz (4.8 kB)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (2.0.12)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 50.8 MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (21.4.0)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 54.9 MB/s
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (3.10.0.2)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 3.3 MB/s
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->gradio) (2.10)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (2.8.2)
Collecting backoff==1.10.0
  Downloading backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Collecting monotonic>=1.5
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (2021.10.8)
Collecting starlette==0.17.1
  Downloading starlette-0.17.1-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 5.3 MB/s
Collecting pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2
  Downloading pydantic-1.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 41.0 MB/s
Collecting anyio<4,>=3.0.0
  Downloading anyio-3.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.2 MB/s
Collecting sniffio>=1.1
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting mdurl~=0.1
  Downloading mdurl-0.1.0-py3-none-any.whl (11 kB)
Collecting linkify-it-py~=1.0
  Downloading linkify_it_py-1.0.3-py3-none-any.whl (19 kB)
Collecting mdit-py-plugins
  Downloading mdit_py_plugins-0.3.0-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.7 MB/s
Collecting uc-micro-py
  Downloading uc_micro_py-1.0.1-py3-none-any.whl (6.2 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (1.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gradio) (2018.9)
Collecting cryptography>=2.5
  Downloading cryptography-36.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 39.0 MB/s
Collecting pynacl>=1.0.1
  Downloading PyNaCl-1.5.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (856 kB)
     |████████████████████████████████| 856 kB 58.7 MB/s
Collecting bcrypt>=3.1.3
  Downloading bcrypt-3.2.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 439 kB/s
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->gradio) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->gradio) (2.21)
Collecting asgiref>=3.4.0
  Downloading asgiref-3.5.0-py3-none-any.whl (22 kB)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (7.1.2)
Collecting h11>=0.8
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 5.6 MB/s
Building wheels for collected packages: ffmpy, python-multipart
  Building wheel for ffmpy (setup.py) ... done
  Created wheel for ffmpy: filename=ffmpy-0.3.0-py3-none-any.whl size=4712 sha256=f325d42bec5299f77eb03747db28c9406fc4af475c7548f6dfb87cd6c09e525d
  Stored in directory: /root/.cache/pip/wheels/13/e4/6c/e8059816e86796a597c6e6b0d4c880630f51a1fcfa0befd5e6
  Building wheel for python-multipart (setup.py) ... done
  Created wheel for python-multipart: filename=python_multipart-0.0.5-py3-none-any.whl size=31678 sha256=7ff4c4c6f0f97d9f070100475dd6f7f05492fdec40e647651c76c7d0e1644497
  Stored in directory: /root/.cache/pip/wheels/2c/41/7c/bfd1c180534ffdcc0972f78c5758f89881602175d48a8bcd2c
Successfully built ffmpy python-multipart
Installing collected packages: sniffio, mdurl, uc-micro-py, multidict, markdown-it-py, frozenlist, anyio, yarl, starlette, pynacl, pydantic, monotonic, mdit-py-plugins, linkify-it-py, h11, cryptography, bcrypt, backoff, asynctest, async-timeout, asgiref, aiosignal, uvicorn, python-multipart, pydub, pycryptodome, paramiko, orjson, ffmpy, fastapi, analytics-python, aiohttp, gradio
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 analytics-python-1.4.0 anyio-3.5.0 asgiref-3.5.0 async-timeout-4.0.2 asynctest-0.13.0 backoff-1.10.0 bcrypt-3.2.0 cryptography-36.0.2 fastapi-0.75.0 ffmpy-0.3.0 frozenlist-1.3.0 gradio-2.8.14 h11-0.13.0 linkify-it-py-1.0.3 markdown-it-py-2.0.1 mdit-py-plugins-0.3.0 mdurl-0.1.0 monotonic-1.6 multidict-6.0.2 orjson-3.6.7 paramiko-2.10.3 pycryptodome-3.14.1 pydantic-1.9.0 pydub-0.25.1 pynacl-1.5.0 python-multipart-0.0.5 sniffio-1.2.0 starlette-0.17.1 uc-micro-py-1.0.1 uvicorn-0.17.6 yarl-1.7.2

(Above is the original version, and below is the version in progress in class.）

In [ ]:
# !pip install gradio
# import gradio as gr
# import pandas as pd
import requests

In [ ]:
request.get('http://apis.data.go.kr/B552584/ArpltnStatsSvc/getCtprvnMesureSidoLIst?sidoName=서올&searchCondition=hour&pageNo=1&numOfRows=100&returnType=json&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')

NameError: ignored

In [ ]:
sidoName = '서울'
URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
    'getCtprvnMesureSidoLIst?sidoName='+sidoName+
    '&searchCondition=hour'
    '&pageNo=1'
    '&numOfRows=100'
    '&returnType=json'
    '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
response = requests.get(URL)
payload = response.json()

import pprint
pp = pprint.PrettyPrinter(indent=1)
pp.pprint(payload)

# http://jsonviewer.stack.hu/
# copy json here to view json

{'response': {'body': {'items': [{'cityName': '강남구',
                                  'cityNameEng': 'Gangnam-gu',
                                  'coValue': '0.3',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '001',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.015',
                                  'numOfRows': '10',
                                  'o3Value': '0.032',
                                  'pageNo': '1',
                                  'pm10Value': '7',
                                  'pm25Value': '3',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.003',
                                  'totalCount': ''},
                                 {'cityName': '강동구',
                                  'cityNameEng': 'Gangdong-gu',
                                  'coValue': '0.3',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '002',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.014',
                                  'numOfRows': '10',
                                  'o3Value': '0.023',
                                  'pageNo': '1',
                                  'pm10Value': '7',
                                  'pm25Value': '2',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '강북구',
                                  'cityNameEng': 'Gangbuk-gu',
                                  'coValue': '0.3',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '003',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.004',
                                  'numOfRows': '10',
                                  'o3Value': '0.043',
                                  'pageNo': '1',
                                  'pm10Value': '3',
                                  'pm25Value': '1',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '강서구',
                                  'cityNameEng': 'Gangseo-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '004',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.012',
                                  'numOfRows': '10',
                                  'o3Value': '0.037',
                                  'pageNo': '1',
                                  'pm10Value': '4',
                                  'pm25Value': '3',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.003',
                                  'totalCount': ''},
                                 {'cityName': '관악구',
                                  'cityNameEng': 'Gwanak-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '005',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.014',
                                  'numOfRows': '10',
                                  'o3Value': '0.036',
                                  'pageNo': '1',
                                  'pm10Value': '5',
                                  'pm25Value': '1',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '광진구',
                                  'cityNameEng': 'Gwangjin-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '006',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.014',
                                  'numOfRows': '10',
                                  'o3Value': '0.032',
                                  'pageNo': '1',
                                  'pm10Value': '3',
                                  'pm25Value': '2',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.004',
                                  'totalCount': ''},
                                 {'cityName': '구로구',
                                  'cityNameEng': 'Guro-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '007',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.010',
                                  'numOfRows': '10',
                                  'o3Value': '0.036',
                                  'pageNo': '1',
                                  'pm10Value': '11',
                                  'pm25Value': '2',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.003',
                                  'totalCount': ''},
                                 {'cityName': '금천구',
                                  'cityNameEng': 'Geumcheon-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '008',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.017',
                                  'numOfRows': '10',
                                  'o3Value': '0.036',
                                  'pageNo': '1',
                                  'pm10Value': '',
                                  'pm25Value': '1',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.003',
                                  'totalCount': ''},
                                 {'cityName': '노원구',
                                  'cityNameEng': 'Nowon-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '009',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.009',
                                  'numOfRows': '10',
                                  'o3Value': '0.038',
                                  'pageNo': '1',
                                  'pm10Value': '8',
                                  'pm25Value': '3',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '도봉구',
                                  'cityNameEng': 'Dobong-gu',
                                  'coValue': '0.3',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '010',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.007',
                                  'numOfRows': '10',
                                  'o3Value': '0.039',
                                  'pageNo': '1',
                                  'pm10Value': '3',
                                  'pm25Value': '',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.003',
                                  'totalCount': ''},
                                 {'cityName': '동대문구',
                                  'cityNameEng': 'Dongdaemun-gu',
                                  'coValue': '0.3',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '011',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.011',
                                  'numOfRows': '10',
                                  'o3Value': '0.036',
                                  'pageNo': '1',
                                  'pm10Value': '5',
                                  'pm25Value': '1',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '동작구',
                                  'cityNameEng': 'Dongjak-gu',
                                  'coValue': '0.3',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '012',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.012',
                                  'numOfRows': '10',
                                  'o3Value': '0.038',
                                  'pageNo': '1',
                                  'pm10Value': '4',
                                  'pm25Value': '2',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '마포구',
                                  'cityNameEng': 'Mapo-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '013',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.019',
                                  'numOfRows': '10',
                                  'o3Value': '0.035',
                                  'pageNo': '1',
                                  'pm10Value': '7',
                                  'pm25Value': '1',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.003',
                                  'totalCount': ''},
                                 {'cityName': '서대문구',
                                  'cityNameEng': 'Seodaemun-gu',
                                  'coValue': '0.5',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '014',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.012',
                                  'numOfRows': '10',
                                  'o3Value': '0.037',
                                  'pageNo': '1',
                                  'pm10Value': '4',
                                  'pm25Value': '4',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '서초구',
                                  'cityNameEng': 'Seocho-gu',
                                  'coValue': '0.4',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '015',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.011',
                                  'numOfRows': '10',
                                  'o3Value': '0.035',
                                  'pageNo': '1',
                                  'pm10Value': '4',
                                  'pm25Value': '1',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '성동구',
                                  'cityNameEng': 'Seongdong-gu',
                                  'coValue': '0.3',
                                  'dataGubun': '',
                                  'dataTime': '2022-03-26 14:00',
                                  'districtCode': '02',
                                  'districtNumSeq': '016',
                                  'itemCode': '',
                                  'khaiValue': '',
                                  'no2Value': '0.010',
                                  'numOfRows': '10',
                                  'o3Value': '0.021',
                                  'pageNo': '1',
                                  'pm10Value': '6',
                                  'pm25Value': '1',
                                  'resultCode': '',
                                  'resultMsg': '',
                                  'returnType': 'json',
                                  'searchCondition': '',
                                  'serviceKey': '',
                                  'sidoName': '서울',
                                  'so2Value': '0.002',
                                  'totalCount': ''},
                                 {'cityName': '성북구',

In [ ]:
items = payload['response']['body']['items']

cityName = [item['cityName'] for item in items]
pm10Value = [item['pm10Value'] for item in items]
pm25Value = [item['pm25Value'] for item in items]
so2Value = [item['so2Value'] for item in items]
coValue = [item['coValue'] for item in items]
o3Value = [item['o3Value'] for item in items]
no2Value = [item['no2Value'] for item in items]

pd_cityName = pd.Series(cityName)
pd_pm10Value = pd.Series(pm10Value)   
pd_pm25Value = pd.Series(pm25Value)
so2Value = pd.Series(so2Value)
coValue = pd.Series(coValue)
o3Value = pd.Series(o3Value)
no2Value = pd.Series(no2Value)

df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})

In [ ]:
def test(sidoName):
  URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?sidoName='+sidoName+
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
  response = requests.get(URL)
  payload = response.json()
  items = payload['response']['body']['items']

  cityName = [item['cityName'] for item in items]
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  pd_cityName = pd.Series(cityName)
  pd_pm10Value = pd.Series(pm10Value)   
  pd_pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://44659.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)