<a href="https://colab.research.google.com/github/Teng095/class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 0310 ---> 파이썬 변수 (int, float, str, list, tuple, dict)

-------> variables.ipynb <-------

programming language --->
words ---
word/ meaning --->
     content

 
syntax ---> 조건문 (if) and 반복문 (for)

一. variables.ipynb

변수(variables) ---> numbers + string

In [ ]:
a = 1; print(type(a))

<class 'int'>

practice.start

In [ ]:
print (a)

1

In [ ]:
b = 1; print (type(b))

<class 'int'>

'*int' --> integer (整数）*

In [ ]:
print(b), print(type(b))

1
<class 'int'>

(None, None)

practice.end

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

*'flost' ---> （带小数点的类型）*

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

*'str' ---> string（字符串）*

其形式为： a = ‘123’ and so on

print(a[1]) ---> a中的第一个字符 （字符串从左往右开始数的时候从0开始），所以输出结果为：2

同理可得：print（a[1])的输出结果为：e

The output of print(a[1]) is: e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

*’list' ---> 列表 ---> tuple*

其形式为： a = [1, 2, 3, 4]

Similarly： print(a[0]) 的输出结果为： 1

The output of print(a[0]) is: 1

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

print(a[2][1]) ---> 在a中的第二个字符为【3，‘4’】，然后在这个字符串中的第一个字符是4

print(a[2][1]) ---> the second character in a is [ 3, '4' ], then the first character in this string is 4

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

*'dict' ---> dictionay (用于创建一个字典）*

(key : value)

practice. start

In [ ]:
a = [1,2,3]

In [ ]:
a[1] = 0

In [ ]:
print(a)

{'a': 'apple', 'b': 'orange', 'c': 2014}

practice. end

### 0314 ---> 파이썬 변수(list/str), 함수, syntax(반복문/조건문), list/dict comprehension

-------> string.ipynb <-------

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

-----> 关于字符串的索引方式，从左往右以0开始、从右往左以-1开始。

Regarding the indexing of strings, it starts with 0 from left to right and -1 from right to left.

print(s[1:3]) ---> 输出第二个到第4四个的所有字符，但是不包括第四个字符本身

print(s[1:]) ---> 输出从第二个字符后的所有字符

print(s[:3]) ---> 输出从开始字符到第四个字符为止，不包括第四个字符本身

print(s[:]) ---> 输出所有的字符

In [ ]:
len(s)

6

len函数 ---> 字符串的长度

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

s[4:]*10 ---> 输出字符串10次

In [ ]:
s.upper()

'ABCDEF'

upper ---> 将字符串转换为大写字母

In [ ]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

strip ---> 用于移除字符串头尾指定的字符或字符序列

// 该方法只能删除开头或结尾的字符，不能删除中间的字符

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

split ---> 分裂

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'

‘this‘和’that’换位置

-------> function.ipynb <-------

In [ ]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [ ]:
def add(a,b):
  c = a + b
  return c

In [ ]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

3
-1
2
0.5

代码形式(Code form) 为：  def  函数名  （  输入变量）
def  함수명 (입력변수 ,  입력변수 )

-------> syntax.ipynb <-------

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

分别进行运行，运行四次

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

range函数 ---> 范围函数

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

a = 0 (所代表的不完全是等于的意思）

a == 0 (所代表的是等于的意思）

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

range(4)->
range(1,3): -> [1,2]
range(3,5): -> [3,4]

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

I = 1 and 2
j = 3 and 4
I*j = 分别进行运算

j >= 4 的时候代表 其只有4 符合情况
然后继续进行运算 
只对j有约束，对i无约束 
所以i还是存在两个数字 即 1 and 2

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

list comprehension

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

字母的数量
在4或者4以上

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}

dick comprehension

range（4）即 【0，1，2，3】

补充 아니라면 !=

### 0316 ---> 파이썬 import, numpy, matplotlib

-------> import.ipynb <-------

-------> packages.ipynb <-------

-------> numpy.ipynb <-------